@media #{$computer} {

  .bro{
    background-image: url("../Images/tabletsidste.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 412px;
  }

  .btn2 {
    height: 45px;
    width: 150px;
    border-radius: 50px;
    background-color:#0BDBA3;
    color:#FFF;
    border: 8px solid;
    border-left-color: #0BDBA3;
    border-right-color:#0BDBA3;
    border-block-start-color: #0BDBA3;
    border-block-end-color: #0BDBA3;
  }



}