* { /* Gælder alt på hele siden */
  box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
  margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; /* Ingen ydre margen fra overskrifter */
  padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
  margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
  padding: 0; /* Ingen indre margen fra lister */
  list-style-position: inside; /* List punkter står på linje */
}

li {
  margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
  margin: 0; /* Ingen ydre margen fra paragraffer */
  padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
  display: block; /* Billeder er et element (laver linjeskift) */
  max-width: 100%; /* Bredde må maks fylde 100% */
  height: auto; /* Højden skal tilpasse sig */
}
.rainbowbox1{
  background-image: url("../Images/mobile_colored_box.png");
  background-repeat: no-repeat;
  width: 320px;
}

.btn{
    height: 65px;
    width: 250px;
    border-radius: 50px;
    background-color: black;
    color: #FFF;
    border: 8px solid;
    border-left-color: #28B8C4;
    border-right-color: #5D5AD1 ;
    border-block-start-color: #28B8C4;
    border-block-end-color: #5D5AD1;
    }

.btn1{
  height: 65px;
  width: 250px;
  border-radius: 50px;
  background-color:white;
  color:#000000;

}

.pcworkspace{
height: 320px;

}