$theme-colors: (
        "primary": #8A0BDB,
        "danger": #ff4136,
);
$spacer: 1rem;
$myStyles: "screen and (min-width: 320px)";
$tablet: "screen and (min-width: 768px)";
$computer: "screen and (min-width:1200px)";


.btn1 {
  height: 65px;
  width: 250px;
  border-radius: 50px !important;
  background-color:black !important;
  color:#FFF;
  border: 8px solid;
  border-left-color: #28B8C4;
  border-right-color:#5D5AD1;
  border-block-start-color: #28B8C4;
  border-block-end-color: #5D5AD1;
}




@import "../node_modules/bootstrap/scss/bootstrap";
@import "tablet";
@import  "computer";
@import "myStyles";
