$theme-colors: (
        "primary": #0074d9,
        "danger": #ff4136
);
$spacer: 1rem;
$tablet: "screen and (min-width: 754px)";
$computer: "screen and (min-width:1200px)";







@import "node_modules/bootstrap/scss/bootstrap";
@import "tablet";
@import  "computer";
@import "myStyles";
